<center>
<%= form_for @found, :html => {:multipart => true} do |f| %>
  <% if @found.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@found.errors.count, "error") %> prohibited this found from being saved:</h2>

      <ul>
      <% @found.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</center>

<div class= "row">
  <div class= "span5 offset3">
  <ol>
    <li>Put in as much relevant information as possible.</li>
    <li>Hang onto the item until we notify you via email that the item has been claimed.</li>
    <li>Feel great when you reunite the item back with its owner!</li>
  </ol>
 </div>
</div>
<br />

<center>
  <div class="field">
    <%= f.text_area :desc, class: "span9", rows: "10" %>
  </div><br />
  <p>Approximately when did you find it?</p>
  <div class="field">
    <%= f.date_select :date %>
  </div>
  <p>Where did you find it?</p>
  <div class="field">
    <%= f.text_field :location %>
  </div>
  <p>Please attach an image to help us identify it.</p>
  <div class ="field">
    <%= f.file_field :image %>
  </div><br />
  <%= f.submit "Thanks for submitting!", class: "btn btn-large" %>
<% end %>
</center>