<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @found.desc %>
</p>

<p>
  <b>Date:</b>
  <%= @found.date %>
</p>

<p>
  <b>Location:</b>
  <%= @found.location %>
</p>


<%= link_to 'Edit', edit_found_path(@found) %> |
<%= link_to 'Back', founds_path %>
