<% if (not @matches.empty?) %>
<center><h1>Is this it?</h1>
<p>Click "Contact Finder" to send a message and get your stuff back!</p>

<ul class="thumbnails">
<% for match in @matches %>
    	<li class="span4 thumbnail">
      	<%= image_tag match.image_url.to_s %><br />
					<p><%= match.desc %><br />
					<b>Location found:</b> <%= match.location %><br />
					<b>Date found:</b> <%= match.date %><br />
					<h3>Is this yours?</h3>
					<%= link_to "Contact Finder", "mailto:#{@me.email}?subject=Yale Lost and Found - You found it!", class: "btn btn-success" %><br />
          </p>
    	</li>
<% end %>
</ul>
</center>
<% else %>
<center><h1>No matches found. :(</h1>
	<p>Try again later?</p>
</center>
<% end %>